.megamenu {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	margin-left: 0;
	border: 1px dashed #b2b2b2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: white;
	behavior: url("PIE.htc");
	padding: 10px;
	z-index: 100;
}

.megamenu .column {
	float: left;
	width: 160px; /*width of each menu column*/
	margin-right: 5px;
}

.megamenu .column ul {
	margin: 0;
	padding: 0 0 10px 7px;
	list-style-type: none;
}

.megamenu .column ul li {
	padding-left: 12px;
	padding-top: 6px;
	background: url("../img/bllt.png") 0 15px no-repeat;
}

.megamenu .column h4 {
	background: #eee;
	margin: 0 0 5px 0;
	padding: 3px 3px 3px 7px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	behavior: url("PIE.htc");
}

.megamenu .column ul li a {
	font: normal 12px/25px 'Muli', Arial, sans-serif;
	text-decoration: none;
}

/* .megamenu .column ul li a:hover {
	color: ;
} */