/* Simple Toggle with CSS &amp; jQuery by Soh Tanaka: http://www.sohtanaka.com/web-design/easy-toggle-jquery-tutorial/ */


html {
	overflow-y: scroll;
}

*, * focus {
	outline: none;
	margin: 0;
	padding: 0;
}

p.close {
	curser: pointer;
	text-align: right;
}

#toggle {
	width: 757px;
	margin-top: 10px;
	margin-bottom: 20px;
}

div.trigger {
	padding: 0;	margin: 0 0 5px 0;
	height: 31px;
	width: 757px;
	background: url("../img/arrwT-down.png") top right no-repeat;
	font: normal 14px;
	float: left;
	cursor: pointer;
}
	div.trigger a {
		display: block;
		height: 26px;
		width: 732px;
		text-decoration: none;
		text-align: right;
	}
div.active {
	background: url("../img/arrwT-up.png") top right no-repeat;
}
	div.active a {
		text-decoration: none;
	}
.toggle_container {
	margin: 0; padding: 0;
	overflow: hidden;
	width: 757px;
	clear: both;
}